<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lamport.tla.toolbox.tool.tlc.modelCheck">
    <stringAttribute key="configurationName" value="Model_1"/>
    <stringAttribute key="modelBehaviorSpec" value="Spec"/>
    <intAttribute key="modelBehaviorSpecType" value="1"/>
    <listAttribute key="modelParameterConstants">
        <listEntry value="APPROVAL_FRESHNESS;;;0;0"/>
        <listEntry value="InitBoomerangDescriptor;;;0;0"/>
        <listEntry value="InitLocalBlockHeight;;;0;0"/>
        <listEntry value="TXIDs;;;0;0"/>
        <listEntry value="InitBoomerangParams;;;0;0"/>
        <listEntry value="NoTx;;;0;0"/>
        <listEntry value="InitMystery;;;0;0"/>
        <listEntry value="INITIATOR;;;0;0"/>
        <listEntry value="InitDuressConsentSet;;;0;0"/>
        <listEntry value="MAX_BLOCK_LAG_JUMP;;;0;0"/>
        <listEntry value="PONG_FRESHNESS;;;0;0"/>
        <listEntry value="PSBTs;;;0;0"/>
        <listEntry value="InitMilestoneBlockCollection;;;0;0"/>
        <listEntry value="InitWTBlockHeight;;;0;0"/>
        <listEntry value="ConsentAtoms;;;0;0"/>
        <listEntry value="PING_FRESHNESS;;;0;0"/>
        <listEntry value="TxOfPsbt;;;0;0"/>
        <listEntry value="NoMessage;;;0;0"/>
        <listEntry value="InitDoxingKey;;;0;0"/>
        <listEntry value="Peers;;;0;0"/>
        <listEntry value="COMMIT_FRESHNESS;;;0;0"/>
        <listEntry value="NoSigner;;;0;0"/>
        <listEntry value="NoPlaceholder;;;0;0"/>
        <listEntry value="ZeroPad;;;0;0"/>
        <listEntry value="BlockHeights;;;0;0"/>
        <listEntry value="NoPsbt;;;0;0"/>
    </listAttribute>
    <stringAttribute key="specName" value="BoomerangWithdrawalCore"/>
</launchConfiguration>
